<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="bookDao" class="org.example.dao.impl.BookDaoImpl" init-method="init" destroy-method="destroy"/>
    <bean id="bookService" class="org.example.service.impl.BookServiceImpl" />
    <!-- 静态工厂 -->
    <bean id="orderDao" class="org.example.factory.OrderDaoFactory" factory-method="getOrderDao" />
    <!-- 实例工厂 -->
    <bean id="userDaoFactory" class="org.example.factory.UserDaoFactory" />
    <bean id="userDao" factory-bean="userDaoFactory" factory-method="getUserDao" />
    <!-- 使用 FactoryBean 实例化 -->
    <bean id="userDao2" class="org.example.factory.UserDaoFactoryBean" />

    <context:component-scan base-package="org.example.dao.impl" />
</beans>